<div class="about">
	<h2>About</h2>

	<article class="about-basic group">
		<label>What is StreetEZ?</label>
		<p>StreetEZ is a way to find a great place to live in New York City. We’re 
			making apartment rentals easier by enabling you to:
			<ul>
				<li>
					Search tons of real, up-to-date apartments for sale and for rent on 
					<a href="<%= root_url %>">www.streetez.me</a>.
				</li>
			
				<li>
					Keep track of your apartment search in one, single place with Saved Apartments.
				</li>
			</ul>
		</p>
	</article>

	<article class="about-areas group">
		<label>What areas does StreetEZ serve?</label>
		<p>
			We are currently serving neighborhoods in Manhattan, specifically Midtown and Downtown.
		</p>
	</article>
	
	<article class="about-improvements group">
		<label>What does StreetEZ have planned?</label>
		<p>
			We know that the apartment search process can be a drag. That's why we are constantly making improvements to help make your apartment search a breeze.
		</p>
		<br>
		<p>
			But we believe that user generated listings provide the most accurate information for the entire marketplace. So while we have many great improvements coming you way, we still need to rely on you, our customers, to help us out and help make the apartment search process better for everyone involved!
		</p>
	</article>
	
	<article class="about-help group">
		<label>Help</label>
		<p>
			If you have any questions, visit our <a href="<%= static_pages_help_url %>">Help</a> page.
		</p>
	</article>
</div>