<section class="inbox">
	<h2>Inbox</h4>

	<ul>
	    <li class="message-header group">
	      <p class="user">From</p>
	      <p class="body">Message</p>
				<p class="datetime">Date & Time</p>
	    </li class="message">
	  <% received_messages.each do |message| %>
	    <a class="message-link group" href="<%= message_url(message.id) %>">
	      <li class="message">
	        <p class="user"><%= message.sender.name %></p>
	        <p class="body"><%= message.body %></p>
					<p class="datetime"><%= message.created_at.to_formatted_s(:short) %></p>
	      </li>
	    </a>
	  <% end %>
	</ul>
	
</section>
