<h3>Sent</h3>

<ul class="sent-message-list">
  <% sent_messages.each do |message| %>
    <a class="sent-message-link" href="<%= message_url(message.id) %>">
      <li class="sent-message">
        <h4>To: <%= message.recipient.name %></h4>
        <p><%= message.body %></p>
      </li>
    </a>
  <% end %>
</ul>