<div class="messages-index" id="messages-index">
	<h2>Messages</h2>

	<%= render "inbox", received_messages: @received_messages %>

	<%= render "sentbox", sent_messages: @sent_messages %>

	<script type="application/json" id="messages-json">
		<%= (render partial: "/messages/messages.json.jbuilder", locals: {messages: @received_messages + @sent_messages}).html_safe %>
	</script>

</div>

<script>
$(document).ready(function() {
	
	var messagesObj = JSON.parse($("#messages-json").html())
	StreetEZ.messages = new StreetEZ.Collections.Messages(messagesObj, {parse: true})
	
	var currentUser = <%= current_user.to_json(only: [:id, :name]).html_safe %>
	StreetEZ.currentUser = new StreetEZ.Models.User(currentUser);

	new StreetEZ.Routers.Messages();
	
	Backbone.history.start();
	
});
</script>