<h2 class="messages">Message Conversation</h2>

<main class="message-conversation">
	
	<ul>
	  <% messages.each(function(message) { %>
		    <li>
					<header class="message-header group">
		      <% if (parseInt(StreetEZ.currentUser.get('id')) === parseInt(message.sender.get('id'))) { %>
		        <p class="user"><%= "You:" %></p>
		      <% } else { %>
		        <p class="user"><%= message.sender.get('name') + ":" %></p>
		      <% } %>
		      <p class="datetime">
						<%= moment(message.get('created_at')).fromNow() %>
					</p>
					</header>
	      
		      <p class="message-body"><%= message.get('body') %></p>
			</li>
		<% }) %>
	</ul>
</main>