<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-family: sans-serif;">
    <a href="http://www.streetez.me" style="color: #146AB9;text-decoration: none;"><h1>Welcome to StreetEZ, <%= @user.name %>!</h1></a>
    <p>
      We are very excited that you have chosen us to help you with your apartment search.
    </p>
		<p>
			If there is anything we can do to improve your experience or if you 
			just want to give us some helpful feedback, please reach out to us 
			at our <a href="http://www.streetez.me/static_pages/help" style="color: #146AB9;text-decoration: none;">Help</a> page.
		</p>
    <p>
      To get back to StreetEZ, just follow this link: <a href="http://www.streetez.me" style="color: #146AB9;text-decoration: none;">StreetEZ</a>.
    </p>
    <p>Thanks for joining the StreetEZ community and have a great day!</p>
  </body>
</html>