<% @notifications.each do |notification| %>
	<ul>
		<li>
			<a href="<%= notification_url(notification) %>">
			<% unless notification.is_read %>
				<strong>New</strong>
			<% end %>
			<%= notification.created_at.to_formatted_s(:short) %> | 
			<%= notification.text %>
			</a>
		</li>
	</ul>
<% end %>