<div class="attending-open-houses">
  <h4>Attending</h4>
	<ul>
		<% if open_houses.empty? %>
			<li class="no-open-houses">
				No Open Houses Scheduled
			</li>
		<% end %>
		<% open_houses.each do |open_house| %>
			<%= render "show_open_house", open_house: open_house %>
		<% end %>
	</ul>
</div>