<div class="attending-open-houses">
  <h4>Attending</h4>
	<% current_user.open_houses.order(event_datetime: :asc).each do |open_house| %>
		<ul>
			<%= render "show_open_house", open_house: open_house %>
		</ul>
	<% end %>
</div>