<h1>My Account</h1>

Open Houses
<div class="owned-open-houses">
  Hosting
</div>

<div class="saved-open-houses">
  Attending
</div>


Rentals
<div class="owned-rentals">

  ****************
  POST_A_NEW_RENTAL_BUTTON
  ****************

  Owned
</div>

<div class="saved-rentals">
  Saved
</div>