<h1>My Account</h1>

<h2 class="open-houses">Open Houses</h2>
<div class="owned-open-houses">
  <h4>Hosting</h4>
</div>

<div class="saved-open-houses">
  <h4>Attending</h4>
</div>
<br>

<h2 class="rentals">Rentals</h2>
<div class="owned-rentals">

  <a class="new-rental" href="<%= new_rental_url %>">Post a new rental</a>
  <br>
  <h4 class="owned-rentals">Owned</h4>
	<% current_user.owned_rentals.each do |owned_rental| %>
  	<%= render "owned_rental", owned_rental: owned_rental %>
  <% end %>
</div>
<br>

<div class="saved-rentals">
  <h4 class="saved-rentals">Saved</h4>
  <% current_user.saved_rentals.each do |saved_rental| %>
		<%= render "saved_rental", saved_rental: saved_rental %>
	<% end %>
</div>