<div class="owner-info">
  <p class="owner-email">Listed by <%= rental.owner.name %></p>
  <form class="create-message" action="<%= messages_url %>" method="post">
    <%= auth_token %>
    <input type="hidden" name="message[recipient_id]" value="<%= rental.owner.id %>">

    <textarea name="message[body]">Send a message to the owner</textarea>
    <input type="submit" value="Send Message">
  </form>
</div>