<div class="owner-info">
  <form class="create-message group" action="<%= messages_url %>" method="post">
    <%= auth_token %>
    <input type="hidden" name="message[recipient_id]" value="<%= rental.owner.id %>">

    <textarea class="group" name="message[body]" placeholder="Send a message to the owner."></textarea>
    <input type="submit" value="Send Message">
  </form>
</div>