<div class="rental-photos">
  <% if rental.photos.first %>
			<%= render "photo_show", file_url: featured_photo.file.url(:big) %>
    <% rental.photos.each do |photo| %>
			<a href="<%= rental_url(rental.id, photo_id: photo.id) %>">
	      <img class="rental-photo" src="<%= photo.file.url(:thumb) %>" alt="apartment_rental_photo">
			</a>
    <% end %>
	<% else %>
		<img class="rental-photo" src="#">
  <% end %>
</div>