<div class="rental-photos rental-description">
	  <% if rental.photos.first %>
			<%= render "photo_show", file_url: featured_photo.file.url(:big) %>
		
			<div class="photo-thumbs-wrap">
	    	<% rental.photos.each do |photo| %>
					<a href="<%= rental_url(rental.id, photo_id: photo.id) %>">
			      <img class="photo-thumbs" src="<%= photo.file.url(:big) %>" alt="apartment_rental_photo">
					</a>
		    <% end %>
			</div>
		<% else %>
			<img class="rental-photo" src="#">
	  <% end %>
</div>