<div class="search ">
	<form class="search group" action="<%= rentals_url %>" method="get">
	  <%= auth_token %>
	
		<div class="neighborhoods group">
			<h4>Location</h4>
			<ul class="group">
			  <% Rental::NEIGHBORHOODS.sort.each_with_index do |neighborhood, idx| %>
					<li>
						<label for="rental_neighborhood">
				      <input
				        id="rental_neighborhood"
				        type="checkbox"
				        name="rental[neighborhoods][]"
				        value="<%= neighborhood %>">
				      <%= neighborhood %>
				    </label>
					</li>
			  <% end %>
			</ul>
		</div>
	
		<div class="price-range group">
			<h4>Price</h4>
			<div class="textbox">
			  <input id="rental_price_min" type="number" name="rental[price_min]">
			</div>
			<p>to</p>
			<div class="textbox">
			  <input id="rental_price_max" type="number" name="rental[price_max]">
			</div>
		</div>
	
		<div class="bed-bath group">
		
			<div class="beds">
				<h4>Beds</h4>
			  <select class="search" name="rental[num_bedrooms]">
			    <option value="">Select Number of Bedrooms</option>
			    <option value="Studio">Studio</option>
			    <option value="1">1</option>
			    <option value="2">2</option>
			    <option value="3">3</option>
			    <option value="4">4</option>
			  </select>
			</div>

			<div class="baths">
				<h4>Baths</h4>
			  <select class="search" name="rental[num_bathrooms]">
			    <option value="">Select Number of Bathrooms</option>
			    <option value="1">1</option>
			    <option value="2">2</option>
			    <option value="3">3</option>
					<option value="3">4</option>
			  </select>
			</div>
		</div>
	
		<div class="search-submit">
		  <input type="submit" value="Search">
		</div>
	</form>
</div>