<h1 class="search-header">New York City Real Estate</h1>

<a class="new-rental" href="<%= new_rental_url %>">Post a new rental</a>

<%= render "search", provided_url: rentals_url, is_request_xhr: false %>

<%= render "featured", rental_ex1: @rental_ex1, rental_ex2: @rental_ex2, rental_ex3: @rental_ex3 %>