<section class="group" id="search-page">
	<h1 class="search-header">New York City Real Estate</h1>

	<a class="new-rental" href="<%= new_rental_url %>">Post a new rental</a>

	<%= render "search", provided_url: rentals_url %>
</section>

<%= render "rentals_list" %>

<script>
$(document).ready(function() {
	var $searchCriteriaForm = $("#search-criteria-form");
	var $searchResults = $("#search-results-ul");
	var $searchPage = $("#search-page")
	var $map = $("#map")
	
	// format map to scroll as window scrolls
	$(window).scroll(function(){
    if($(window).scrollTop() > 580){
        $('#map').addClass("map-scroll");
    } else {
        $('#map').removeClass("map-scroll");
    }
  });
	
	var geoJSON = <%= (render partial: "/rentals/geolistings.json.jbuilder", locals: {rentals: @rentals}).html_safe %>;
	
	map = L.mapbox.map('map', 'andrewkv19.i3khopgf');

	map.featureLayer.setGeoJSON(geoJSON);
	map.fitBounds(map.featureLayer.getBounds());
	map.scrollWheelZoom.disable();
	map.invalidateSize();	
	map.featureLayer.on('click', function(e) {
	        map.panTo(e.layer.getLatLng());
	    });	
	
	map.featureLayer.on('mouseover', function(e) {
	    e.layer.openPopup();
	});
	if (map._zoom > 15) { map.setZoom(15) }	
  map.featureLayer.eachLayer(
    function(marker){
      var rentalID = marker.feature.properties["marker-id"];
      $("a[data-id=" + rentalID + "]").hover(function(){
        map.panTo(marker.getLatLng());
        marker.openPopup()
      })
    }    
  )
	
	$searchCriteriaForm.on("ajax:success", function(event, data){
		$searchResults.html(data);
		map.featureLayer.setGeoJSON(window.geoJSON);
		createMap();
	});
	
	var createMap = function() {
		map.fitBounds(map.featureLayer.getBounds());
		map.scrollWheelZoom.disable();
		map.invalidateSize();
		
		if (map._zoom > 15) { map.setZoom(15) }
		
	  map.featureLayer.eachLayer(
	    function(marker){
	      var rentalID = marker.feature.properties["marker-id"];
	      $("a[data-id=" + rentalID + "]").hover(function(){
	        map.panTo(marker.getLatLng());
	        marker.openPopup()
	      })
	    }    
	  )
	}
});
</script>