<section class="group">
	<h1 class="search-header">New York City Real Estate</h1>

	<a class="new-rental" href="<%= new_rental_url %>">Post a new rental</a>

	<%= render "search", provided_url: rentals_url %>
</section>

<script type="application/json" id="bootstrapped-rentals">
	<%= @rentals.to_json(include: :address).html_safe %>
</script>

<section class="search-results group">
	<div class="search-results-list">
		<ul>
		<% @rentals.each do |rental| %>
		    <%= render "search_show", rental: rental %>
		<% end %>
		</ul>
	</div>
	
	<div class="map" id="map"></div>


</section>
	
<script>
$( document ).ready(function() {
	
	$(window).scroll(function(){
    if($(window).scrollTop() > 540){
        $('#map').addClass("map-scroll");
    } else {
        $('#map').removeClass("map-scroll");
    }
  });
	
	var $rentals = JSON.parse($('#bootstrapped-rentals').html());
	
	var coords = [];
	$rentals.forEach(function(rental){
		var lat = rental.address.latitude;
		var long = rental.address.longitude;
		coords.push([long, lat]);
	});
		
	var map = L.mapbox.map('map', 'andrewkv19.i3khopgf')
										
	$rentals.forEach(function(rental){
		L.mapbox.markerLayer({
		    type: 'Feature',
		    geometry: {
		        type: 'Point',
		        coordinates: [rental.address.longitude, rental.address.latitude]
		    },
		    properties: {
		        title: rental.address.street,
		        'marker-size': 'large',
		        'marker-color': '#146AB9'
		    }
		}).addTo(map);
	});
	
	console.log(map);
	map.scrollWheelZoom.disable();	
	map.fitBounds(L.mapbox.markerLayer.getBounds());
	

	
});
</script>