<section class="group" id="search-page">
	<h1 class="search-header">New York City Real Estate</h1>

	<a class="new-rental" href="<%= new_rental_url %>">Post a new rental</a>

	<%= render "search", provided_url: rentals_url %>
</section>

<%= render "rentals_list" %>

<script>
$( document ).ready(function() {
	// var indexView = new StreetEZ.Views.RentalsIndex({
	// 	el: '#'
	// });
	
	// re-render search results using UJS
	var $searchCriteriaForm = $("#search-criteria-form");
	var $searchResults = $("#search-results-ul");
	var $searchPage = $("#search-page")
	var $map = $("#map")
	
	
	$searchCriteriaForm.on("ajax:success", function(event, data){
		$searchResults.html(data);
		L.mapbox.map('map', 'andrewkv19.i3khopgf');
		console.log(window.geoJSON);
		var featureLayer = map.featureLayer.setGeoJSON(window.geoJSON);
		map.fitBounds(featureLayer.getBounds());
		map.scrollWheelZoom.disable();
		map.invalidateSize();
		$map.html
	});
	
	
	// format map to scroll as window scrolls
	$(window).scroll(function(){
    if($(window).scrollTop() > 580){
        $('#map').addClass("map-scroll");
    } else {
        $('#map').removeClass("map-scroll");
    }
  });
	

	
	var geoJSON = <%= (render partial: "/rentals/geolistings.json.jbuilder", locals: {rentals: @rentals}).html_safe %>;
	
	var map = L.mapbox.map('map', 'andrewkv19.i3khopgf');

	var featureLayer = map.featureLayer.setGeoJSON(geoJSON);
	map.fitBounds(featureLayer.getBounds());
	map.scrollWheelZoom.disable();
	map.invalidateSize();
	
});
</script>