<div id='map'></div>
<script>

var geoJSON = <%= (render partial: "/rentals/geolistings.json.jbuilder", locals: {rentals: @rentals}).html_safe %>;


L.mapbox.map('map', 'andrewkv19.i3khopgf')
  .featureLayer.setGeoJSON(geojson);
  
</script>
