<div class="sign-up">
	
	<form class="sign-up-confirm group" action="<%= twilio_outbound_url %>" method="post">
	  <%= auth_token %>
		<input type="hidden" name="user[id]" value="<%= @user.id %>">
		
		<div class="sign-up-form">
		  <label for="user_text_confirm">Enter Code From Text Message</label>
		  <input
		    type="text"
		    name="user[text_confirmation_code]"
		    id="user_text_confirm">
		</div>
		
		<div class="submit">
		  <input type="submit" value="Submit">
		</div>
	</form>
	
</div>