<div class="sign-up">
	
	<form class="sign-up-confirm group" action="<%= twilio_outbound_url %>" method="post">
	  <%= auth_token %>
		<input type="hidden" name="user[id]" value="<%= @user.id %>">

		<div class="sign-up-form first">
		  <label for="user_mobile_number">Enter Mobile Number</label>
		  <input
		    id="user_mobile_number"
		    type="tel"
		    name="user[mobile_number]">
		</div>
		
		<div class="submit">
		  <input type="submit" value="Submit">
		</div>
	</form>
	
</div>