/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body, h1, h2, h3, h4, ul, ol, li, div, 
span, a, img, p, select, option, form, label,
table, thead, tr, th, tbody, td {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

sup, sub { 
	vertical-align: 0;
	position: relative;
}

sup { 
	bottom: 1ex;
}

sub {
	top: 0.8ex;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

body {
	padding: 5px 60px;
	font-family: sans-serif;
	width: 960px;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

input[type="text"],
input[type="name"],
input[type="email"],
input[type="password"],
input[type="submit"],
input[type="number"],
input[type="file"] {
  -webkit-appearance: none;
  box-sizing: content-box;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  vertical-align: baseline;
  width: auto;
  background: transparent;
  color: inherit;
}

input[type="submit"] {
  display: inline;
  cursor: pointer;
}

/*SIGN UP & SIGN IN*/

	div.sign-up, div.sign-in {
		background: #fff;
		padding: 30px 40px;
		margin: auto;
		width: 275px;
		border: 2px solid black;
	}

	form.sign-up, form.sign-in {
	  margin: 5px auto;
		padding: 0px 10px;
		border-radius: 0;
	}

	h1.sign-up, h1.sign-in {
		text-align: center;
		font-size: 50px;
		line-height: 1.0;
	}

	.sign-up-form, .sign-in-form {
		margin: 20px 0;
	}

	.sign-up-form > label, 
	.sign-in-form > label {
		display: block;
		font-size: 18px;
	}

	.sign-up-form > input, 
	.sign-in-form > input {
	  border: 2px solid #000;
	  padding: 5px;
	  width: 240px;
	}

	.sign-up-form > input:hover, 
	.sign-in-form > input:hover {
		border-color: #257FC5;
	}

	.sign-up-form > input:focus, 
	.sign-in-form > input:focus {
		border-color: #257FC5;
	}

	.submit > input {
	  position: relative;
	  display: inline-block;
	  background: #1466B2;
	  color: #fff;
	  padding: 10px 20px;
	  font-weight: bold;
	}
	
	.submit > input:hover {
		background: #0F518B;
	}

	.submit > input:active {
		background: #0C3C66;
	}
	
	a.facebook {
	  display: inline-block;
	  background: #1466B2;
	  color: #fff;
	  padding: 10px 20px;
		margin: 15px 10px;
	  border-radius: 0;
	  font-weight: bold
	}

/* USERBAR & NAVBAR */
	.header {
		border-bottom: 4px solid black;
	}
	
	.userbar-wrap {
		margin: auto;
		padding: 0 0 5px 0;
		border-bottom: 1px solid #E1E1E1;
	}
	
	.navbar-wrap {
		margin: auto;
	}
	
	.header a, .header input {
		color: #146AB9;
	}
	
	.header a:hover, .header input:hover {
		color: #0B3960;
	}
	
	.userbar {
		float: right;
		font-size: 14px;
	}
	
	.userbar > ul > li {
		position: relative;
		float: left;
		padding: 5px 10px;
		font-weight: lighter
	}
	
	.userbar-dropdown {
		display: none;
		position: absolute;
		text-align: left;
	}
	
	.userbar-dropdown > li > * {
		font-size: 12px;
		padding: 5px;
	}
	
	.userbar-dropdown a {
		display: block;
		padding: 5px;
		width: 150px;
		text-align: left;
	}
	
	.userbar-dropdown > li > form > input[type="submit"] {
		display: block;
		padding: 5px 0;
		width: 150px;
		text-align: left;
	}
	
	.userbar > ul > li:hover > .userbar-dropdown {
	  display: block;
		background: white;
		border: 1px solid #146AB9;
		border-radius: 0;
	}
	
	.userbar > ul > li:hover > ul {
		width: 165px;;
	}
	
/*	.userbar > ul > li:hover > ul > li {
		
	}*/
	
	.userbar-dropdown > li:hover > a,
	.userbar-dropdown > li:hover > form {
		text-decoration: underline;
	}
	
	.navbar-wrap {
		padding: 15px 30px 7.5px 30px;
		font-size: 20px;
		font-weight: bold;
	}
	
	.navbar > h1 {
		float: left;
		padding: 5px 40px;
	}
	
	.navbar > h1.logo {
		font-size: 30px;
		padding: 2px;
		font-weight: bold;
/*		background-color: #1466B2;*/
		color: #fff;
/*		border: 1px solid #1466B2;*/
		border-radius: 0;
	}
	
/* CONTENT */
	
	.content {
		padding: 20px 0;
	}
	
/* POST NEW RENTAL & SEARCH BOX */
	
	h1.search-header {
		font-size: 25px;
		font-weight: lighter;
		line-height: 1.0;
	}
	
	a.sign-in,
	a.new-rental, 
	form.saved-rental > input,
	form.create-rental > input.submit,
	a.edit-rental, 
	form.delete-rental > input,
	form.add-open-house > input[type="submit"],
	form.attend-open-house > input[type="submit"],
	form.create-message > input,
	form.delete-open-house > input[type="submit"] {
	  display: inline-block;
	  background: #1466B2;
	  color: #fff;
	  padding: 10px 20px;
		margin: 15px 0;
	  border-radius: 0;
	  font-weight: bold;
	}
	
	a.sign-in:hover,
	a.facebook:hover, 
	a.new-rental:hover, 
	form.saved-rental > input:hover,
	form.create-rental > input.submit:hover,
	a.edit-rental:hover, 
	form.delete-rental > input:hover,
	form.add-open-house > input[type="submit"]:hover,
	form.attend-open-house > input[type="submit"]:hover,
	form.create-message > input:hover,
	form.delete-open-house > input[type="submit"]:hover {
		background: #0F518B;
	}

	a.sign-in:active,
	a.facebook:active,
	a.new-rental:active, 
	form.saved-rental > input:active,
	form.create-rental > input.submit:active,
	a.edit-rental:active, 
	form.delete-rental > input:active,
	form.add-open-house > input[type="submit"]:active,
	form.attend-open-house > input[type="submit"]:active,
	form.create-message > input:active,
	form.delete-open-house > input[type="submit"]:active {
		background: #0C3C66;
	}
	
	form.search {
		width: 600px;
		padding: 15px 20px;
		border: 1px solid #E1E1E1;
	}
	
	.neighborhoods {
		width: 600px;
		padding-bottom: 15px;
	}
	
	.neighborhoods > ul > li {
		display: block;
		float: left;
		width: 190px;
	}
	
	.neighborhoods input {
		margin-left: 0;
	}
	
/*	.neighborhood label {
		width: 190px;
		padding-left: 5px;
		text-indent: -10px;
	}*/
	
	.neighborhood input {
		width: 15px;
		height: 10px;
		padding: 0;
		margin: 0;
		vertical-align: middle;
		position: relative;
		top: -1px;
	}
	
	.textbox {
		padding-bottom: 15px;
		float: left;
	}
	
	.price-range > p {
		float: left;
		padding: 10px 20px 0 20px;
	}
	
	form h4 {
		padding-top: 5px;
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
	}
	
	.textbox > input {
		float: left;
		width: 261px;
	  padding: 5px;
		border: 1px solid #146AB9;
	  border-radius: 0;
	}
	
	.beds, .baths {
		float: left;
	}
	
	.beds {
		padding-right: 53px;
	}
	
	select {
		float: left;
		border: 1px solid #146AB9;
		background-color: white;
		-webkit-appearance: none;
		width: 273px;
		padding: 5px;
		margin-right: 0px;
		border-radius: 0;
	}
	
	select.search {
		margin-bottom: 15px;
	}
	
	.search-submit > input {
		float: right;
	  display: inline-block;
	  background: #1466B2;
	  color: #fff;
	  padding: 10px 20px;
	  border-radius: 0;
	  font-weight: bold;
	}
	
	div.search-submit > input:hover {
		background: #0F518B;
	}

	div.search-submit > input:active {
		background: #0C3C66;
	}
	
	div.search {
		padding-bottom: 15px;
		border-bottom: 2px solid black;
	}
	
/* FEATURED LISTINGS ON HOMEPAGE */
	
	div.featured {
		padding-top: 15px;
	}
	
	h2 {
		font-size: 22px;
		font-weight: lighter;
	}
	
	.featured-list img {
		width: 200px;
		height: 125px;
		padding-bottom: 10px;
		border-bottom: 1px solid #E1E1E1;
	}
	
	.featured-list > li {
		float: left;
		padding: 15px 80px 15px 0;
	}
	
	.featured-item-info {
		padding: 10px 0;
	}
	
	/* USED IN LOtS OF PLACES */
	p {
		color: black;
		padding-bottom: 3px;
	}
	
	/* ALSO USED ON RENTAL INDEX PAGE*/
	p.address {
		font-size: 20px;
		font-weight: lighter;
		color: #146AB9;
	}
	
	p.neighborhood {
		font-size: 18px;
	}
	
	p.price {
		font-size: 20px;
		display: inline;
		padding-right: 5px;
	}
	
	p.for-rent {
		font-size: 12px;
		color: #5E5F65;
		display: inline-block;
	}
	
	/* INDEX & SEARCH LIST ITEMS */
	
	.search-show {
		padding: 15px 0;
		width: 625px;
		border-bottom: 1px solid black;
	}
	
	.search-show > a > img {
		width: 300px;
		height: 200px;
		float: left;
		padding-right: 15px;
	}
	
	.search-show .address:hover {
		text-decoration: underline;
	}
	
	.listing-info > .bed,
	.listing-info > .bath,
	.listing-info > .sq-ft,
	.listing-info > .created-at {
		padding: 3px 0;
	}
	
/* RENTAL SHOW PAGE */
	
	div.rental-show {
		width: 1000px;
	}
	
	.action-buttons {
		float: right;
		margin-right: 187px;
	}
	
	.action-buttons li {
		float: left;
		padding: 0 10px;
	}
	
	.owner-actions > ul > li {
		float: left;
		padding: 0, 15px;
	}
	
	.rental-show .rental-photos-and-description {
		float: left;
		width: 575px;
	}
	
	.rental-show .rental-photos-and-description > .rental-photos {
		border-bottom: 4px solid black;
	}
	
	.rental-show .rental-photos-and-description > p.rental-description {
		padding: 15px 0;
		line-height: 1.3;
	}
	
	.rental-photos-and-description .rental-photos .selected-photo {
		width: 550px;
	}
	
	.rental-show .photo-thumbs-wrap {
		padding: 15px;
	}
	
	.rental-show .photo-thumbs {
		width: 100px;
	}
	
	.rental-info {
		float: right;
		width: 375px;
		padding-left: 50px;
		border-bottom: 2px solid black;
	}
	
	.rental-info > p.address {
		font-size: 25px;
	}
	
	.detail-cells {
		display: block;
		padding: 5px 0;
		border-top: 1px solid #E1E1E1;
		border-bottom: 1px solid #E1E1E1;
	}
	
	.detail-cells > .bed,
	.detail-cells > .bath,
	.detail-cells > .sq-ft {
		float: left;
		padding: 0 5px;
	}
	
	.detail-cells > .bed,
	.detail-cells > .bath {
		border-right: 1px solid #E1E1E1;
	}
	
	.rental-info > .bed,
	.rental-info > .bath,
	.rental-info > .sq-ft {
		padding: 3px 0;
	}
	
	.rental-show .created-at {
		padding: 5px 0;
	}
	
	/* OPEN HOUSE */
	
	div.open-houses {
		padding: 15px 0;
	}
	
	div.open-houses .no-open-house-text {
		font-size: 15px;
		padding: 5px 0;
	}
	
	div.open-houses ol > li {
		display: inline;
		padding-bottom: 0;
	}
	
	div.open-houses ol > li > form.delete-open-house,
	div.open-houses ol > li > form.attend-open-house {
		display: inline;
		padding-top: 0;
		font-size: 14px;
		margin-left: 34px;
	}
	
	div.open-houses ol > li > a.sign-in {
		width: 300px;
	}
	
	div.open-houses > a.sign-in {
		width: 297px;
	}
	
/* MESSAGING */
	
	form.create-message {
		width: 375px;
	}
	
	form.create-message > textarea {
		width: 350px;
		height: 100px;
	}	

/* CREATE NEW RENTAL */
	
	form.create-rental {
		width: 925px;
	}
	
	form.create-rental > .enter-address-info,
	form.create-rental > .enter-rental-info {
		display: block;
	}
	
	form.create-rental > .enter-address-info > div,
	form.create-rental > .enter-rental-info > div,
	form.create-rental > div.enter-photos {
		float: left;
		padding: 10px 20px 10px 0;
	}
	
	form.create-rental > .enter-address-info label,
	form.create-rental > .enter-rental-info label {
		display: block;
		padding-top: 5px;
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
	}
	
	form.create-rental > .enter-photos > label {
		display: block;
		padding-top: 5px;
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
	}
	
	form.create-rental > .enter-address-info input,
	form.create-rental > .enter-rental-info input,
	textarea.enter-rental-description {
		width: 261px;
	  padding: 5px;
		border: 1px solid #146AB9;
	  border-radius: 0;
	}
	
	form.create-rental > .enter-address-info input:hover,
	form.create-rental > .enter-rental-info input:hover,
	textarea.enter-rental-description:hover {
		border: 2px solid #257FC5;
		padding: 4px;
	}
	
	form.create-rental > .enter-address-info input:active,
	form.create-rental > .enter-rental-info input:active,
	textarea.enter-rental-description:active {
		border: 2px solid #257FC5;
		padding: 6px;
		margin: 0;
	}
	
	textarea.enter-rental-description {
		width: 554px;
		height: 100px;
	}
	
	form.create-rental > input.submit {
		float: right;
		margin-right: 65px;
	}
	
/* NOTIFICATIONS */
	
	.notifications {
		width: 900px;
		padding: 10px 0;
	}
	
	.notifications > a > li {
		position: relative;
		overflow: hidden;
		height: 20px;
		padding: 5px;
		margin-bottom: 15px	;
		border: 1px solid #257FC5;
	  border-radius: 0;
	}
	
	.notifications > a > li:hover {
		border: 2px solid #146AB9;
		padding: 4px;
	}
	
	.notifications > a > li > .new {
		position: absolute;
		left: -13px;
		top: 3px;
		font-size: 8px;
		text-transform: uppercase;
		-webkit-transform: rotate(-37deg);
		padding: 1px 15px;
		background: red;
		color: #fff;
	}
	
	.notifications > a > li > p {
		padding: 0 25px;
		float: left;
	}
	
	.notifications > a > li > time {
		font-size: 12px;
		color: #AFAFAF;
		float: right;
	}
	
/* MESSAGES */
	
	.messages-index > .inbox,
	.messages-index > .sentbox {
		text-align: center;
		width: 900px;
		padding: 15px 0;
	}
	
	.messages-index > .inbox > ul,
	.messages-index > .sentbox > ul {
		width: 900px;
		margin-top: 5px;
	}
	
	.messages-index > .inbox > ul p.user,
	.messages-index > .inbox > ul p.body,
	.messages-index > .sentbox > ul p.user,
	.messages-index > .sentbox > ul p.body {
		float: left;
		text-align: left;
	}
	
	.messages-index > .inbox > ul p.datetime,
	.messages-index > .sentbox > ul p.datetime {
		float: right;
	}
	
	.inbox > ul,
	.sentbox > ul {
		border: 2px solid #146AB9;
	}
	
	.inbox > ul > li.messages-header,
	.sentbox > ul > li.messages-header {
		font-weight: bold;
		border-bottom: 1px solid #ccc;
		padding: 5px;
	}
	
	.inbox > ul > a > li.message,
	.sentbox > ul > a > li.message {
		padding: 5px;
	}
	
	.inbox p.user,
	.sentbox p.user {
		width: 125px;
	}
	
	.inbox p.body,
	.sentbox p.body {
		width: 600px;
	}
	
	.messages-header > p.datetime {
		width: 100px;
	}
	
	.messages-index > .inbox li.message:hover > p,
	.messages-index > .sentbox li.message:hover > p {
		color: #146AB9;
		cursor: pointer;
	}
	
	a.message-link > .message > .datetime {
		color: #AFAFAF;
		font-size: 14px;
		padding-right: 5px;
	}
	
	/* MESSAGE CONVERSATIONS */
	
	.message-conversation {
/*		width: 900px;
		margin: auto;*/
		padding: 15px 0;
	}
	
	.message-conversation > h4 {
		padding-bottom: 5px;
	}
	
	.message-conversation > ul {
		padding: 5px 0;
	}
	
	.message-conversation > ul > li {
		padding: 5px;
		border: 1px solid #ccc;
		margin: 10px 0;
	}
	
	.message-header {
		
	}
	
	.message-header > .user {
		float: left;
		font-weight: bold;
	}
	
	.message-header > .datetime {
		float: right;
		color: #AFAFAF;
		font-size: 14px;
	}
	
	.message-body {
		padding: 5px 10px;
	}
	
/* ABOUT */
	
	.about > article {
		padding-top: 15px;
	}
	
	.about > article > label {
		display: block;
		font-weight: bold;
		padding-bottom: 5px;
	}
	
	.about ul {
		padding: 5px;
	}
	
	.about ul > li {
		list-style-type: disc;
		list-style-position: inside;
	}
	
	.about a {
		color: #146AB9;
	}
	
/* USER SHOW MY ACCOUNT PAGE*/
	
	/* OPEN HOUSES */
	
	.my-account > .open-houses {
		border-bottom: 2px solid black;
	}
	
	.hosting-open-houses {
		float: left;
		width: 450px;
		padding: 15px 0px;
		text-align: center;
		margin: 15px 0;
	}
	
	
	.attending-open-houses {
		float: right;
		width: 450px;
		padding: 15px 0px;
		text-align: center;
		margin: 15px 0;
	}
	
	.hosting-open-houses > h4,
	.attending-open-houses > h4 {
		font-weight: bold;
	}
	
	.hosting-open-houses > ul > li,
	.attending-open-houses > ul > li {
		display: block;
		margin: 15px 0;
		border: 1px solid #E1E1E1;
		padding: 15px 10px;
		margin: 15px auto;
	}
	
	.hosting-open-houses a,
	.attending-open-houses a {
		display: block;
		float: left;
		vertical-align: middle;
		margin: 0;
	}
	
	.hosting-open-houses p,
	.attending-open-houses p {
		display: block;
		width: 200px;
	}
	
	.hosting-open-houses form,
	.attending-open-houses form {
		float: right;
	}
	
	.hosting-open-houses form > input[type="submit"],
	.attending-open-houses form > input[type="submit"] {
		margin-top: 4px;
		margin-bottom: 2px;
	}
	
	/* RENTALS */
	
	.my-account > .rentals {
		padding-top: 15px;
	}
	
	.rentals > a {
		display: block;
		width: 150px;
		text-align: center;
		margin-left: 140px;
		margin-bottom: 0;
	}
	
	.owned-rentals {
		float: left;
		width: 450px;
		padding: 15px 0;
		text-align: center;
		margin: 15px 0;
	}
	
	
	.saved-rentals {
		float: right;
		width: 450px;
		padding: 15px 0;
		text-align: center;
		margin: 15px 0;
	}
	
	.owned-rentals > h4,
	.saved-rentals > h4 {
		font-weight: bold;
	}
	
	.owned-rentals > ul > li,
	.saved-rentals > ul > li {
		display: block;
		margin: 15px 0;
		border: 1px solid #E1E1E1;
	}
	
	.owned-rentals .rental-thumbnail-header,
	.saved-rentals .rental-thumbnail-header {
		display: block;
		float: left;
		width: 150px;
		padding: 15px;
	}
	
	.owned-rentals .rental-thumbnail-header img,
	.saved-rentals .rental-thumbnail-header img {
		height: 65px;
	}
	
	.owned-rentals .user-action-buttons,
	.saved-rentals .user-action-buttons {
		display: block;
		float: right;
		width: 250px;
	}
	
	.user-action-buttons > .owner-action-buttons {
		float: right;	
	}
	
	.owner-action-buttons > .edit-rental,
	.owner-action-buttons > .delete-rental {
		float: left;
		margin-right: 20px;
	}