<!-- <section class="group" id="search-page">
	<h1 class="search-header">New York City Real Estate</h1>

	<a class="new-rental" href="<%#= new_rental_url %>">Post a new rental</a> -->

	<!-- append the search form here -->
<!-- </section>

<section class="search-results group">

	

	<div class="map" id="map"></div>


</section> -->